body {
  background-color: #1a1a1c;
  color: #d0d0d6;
  font-family: "Inter", sans-serif;
  width: 800px;
  margin: auto;
}

a {
  text-decoration: none;
}

header, footer {
  display: flex;
  align-items: center;
  margin-top: 10px;

  padding: 10px;
  border-radius: 30px;
  background-color: #21212c;
}

header {
  justify-content: space-between;
}

.house {
  height: 30px;
}

nav {
  display: flex;
  gap: 10px;
}

.nav-root, .nav-link, .nav-root:visited, .nav-link:visited {
  color: inherit;
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  transition: color 0.25s, background-color 0.25s;
}

.nav-link, .nav-link:visited {
  color: #d0d0d6;
  background-color: #2f2f42;
}

.nav-root:focus, .nav-link:hover {
  color: #2f2f42;
  background-color: #d0d0d6;
}

footer {
  justify-content: space-evenly;
  gap: 20px;
}

i {
  font-size: 2em;
}